* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #f0f0f0;
  color: #f0f0f0;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main section {
  width: 453px;
  height: 264px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #10100e;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3)
}

section {
  position: relative;
}

.content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
}

.content h1 {
  font-size: 1.25rem;
  color: #4400ff;
  left: -2rem;
  top: 3rem;
  font-weight: 400;
  position: absolute;
  text-transform: lowercase;
}

.content ul {
  display: inline-flex;
}

.content ul li {
  list-style: none;
}

.content ul li a {
  text-decoration: none;
  color: #f0f0f0;
  margin-right: 1.5rem;
  font-size: 0.8rem;
  border-bottom: 1px solid #f0f0f0;
  transition: opacity 0.3s ease-in-out;
}

.content ul li a:hover {
  cursor: pointer;
  opacity: 0.5;
}

main section figure {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

main section figure img {
  transform: scale(0.5);
  margin: 0;
  padding: 0;
}

.modal {
  background: #10100e;
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}

.modal h5 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.modal p {
  font-size: 1rem;
  justify-self: flex-end;
  text-transform: lowercase;
}

.modal ul {
  padding: 0;
  margin: 0;
}

.modal ul li {
  list-style: none;
  color: #4400ff;
}

.modal .closeModalBtn {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: none;
  background: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal .closcloseModalBtneModal img {
  width: 30px;
}

.closeModalBtn img {
  width: 30px;
  transition-duration: 0.8s;
  transition-property: transform;
}

.closeModalBtn img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  cursor: pointer;
}

.modalBtn {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  border: none;
  background: none;
}

.modalBtn img {
  width: 30px;
  transition-duration: 0.8s;
  transition-property: transform;
}

.modalBtn img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  cursor: pointer;
}