* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/brick.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  font-family: 'Reenie Beanie', cursive;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#whiteboard {
  background: #FFF;
  width: 1000px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: inset 4px 4px 8px 1px rgb(0, 0, 0, 0.7);
  filter: drop-shadow(8px 8px 12px rgb(0, 0, 0, 0.7));
  background: #E8CCAC;
  border-width: 40px;
  border-style: solid;
  border-color: #695149 #8F6152 #695149 #8F6152;
  box-shadow: inset 4px 4px 8px 1px rgb(0, 0, 0, 0.7);
}


section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

section a {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
}

section a:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
}



section a:nth-of-type(1) {
  background-image: url('./assets/daan/Group\ 13.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 150px;
  height: 150px;
  position: relative;
  list-style: none;
}

section a:nth-of-type(1)::before {
  content: '';
  position: absolute;
  background-image: url('./assets/daan/Group\ 7.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
  top: -1rem;
}




section a:nth-of-type(2) {
  background-image: url('./assets/tristan/Group\ 11.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 150px;
  height: 150px;
  position: relative;
  list-style: none;
}

section a:nth-of-type(2)::before {
  content: '';
  position: absolute;
  background-image: url('./assets/tristan/Group\ 6.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
  top: -1rem;
}





section a:nth-of-type(3) {
  background-image: url('./assets/pepijn/Group\ 12.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 150px;
  height: 150px;
  position: relative;
  list-style: none;
}

section a:nth-of-type(3)::before {
  content: '';
  position: absolute;
  background-image: url('./assets/pepijn/Group\ 4.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
  top: -1rem;
  right: 2.3rem;
}



section a:nth-of-type(4) {
  background-image: url('./assets/julian/Vector\ 5.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 150px;
  height: 150px;
  position: relative;
  list-style: none;
}

section a:nth-of-type(4)::before {
  content: '';
  position: absolute;
  background-image: url('./assets/julian/Group\ 3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
  top: -1rem;
}


section a:nth-of-type(5) {
  background-image: url('./assets/nora/Group\ 8.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 150px;
  height: 150px;
  position: relative;
  list-style: none;
}

section a:nth-of-type(5)::before {
  content: '';
  position: absolute;
  background-image: url('./assets/nora/Group\ 5.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 50px;
  height: 50px;
  top: -1.3rem;
  right: 2.4rem;
}